/* FOOTER */


footer{
  padding: 20px 0px 20px 0px;
    background-color: beige;
    
  
    .footerContenedor {
      grid-area: footer;
      background-color: beige;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }
    
  }
    